{% extends "base.html" %}

<style>
    .meal-info {
        margin-bottom: 20px;
    }

    .complete-button, .back-button {
        margin-top: 20px;
        display: block;
        margin-bottom: 10px;
    }

    .back-button {
        margin-top: 40px;
    }
</style>

<!-- Fix the STYLING! IT DOES NOT CURRENTLY WORK!!! -->

{% block content %}
    <h1 class="meal-info">{{ meal.mealName }}</h1>
    <img src="#" alt="{{ meal.mealName }} Image" class="meal-info meal-image">
    <p class="meal-info">{{ meal.mealDescription }}</p>
    <p class="meal-info">{{ meal.recipe }}</p>

    {% if not completed %}
        <form action="{{ url_for('users.complete_meal', meal_id=meal.mealID) }}" method="post">
            <button type="submit" class="complete-button">Complete</button>
        </form>
    {% else %}
        <button disabled class="complete-button">Completed</button>
    {% endif %}

    <a href="{{ url_for('users.mealTree') }}" class="button back-button">Back</a>

{% endblock %}
