{% extends "base.html" %}

{% block content %}

    <style>
        .tree-node {
            margin-bottom: 30px;
        }

    </style>


    <h1 class="title">Welcome to the meal progression tree, {{ user.firstname }}</h1>

    <div id="progression-tree">
        <ul class="tree-level">
            {% for meal in meals %}
                <li class="tree-node">
                    <div class="meal">
                        <a href="{{ url_for('users.meal_detail', meal_id=meal.mealID) }}">
                            <img src="{{ meal.imageUrl }}" alt="{{ meal.mealName }} Image"
                                 style="width: auto; height: 300px;" class="meal-image">
                            <h3>{{ meal.mealName }}</h3>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
