{% extends "base.html" %}

<style>
    .quiz-info {
        margin-bottom: 20px;
    }

    .quiz-image {
        width: 100%;
        max-width: 600px;
        height: auto;
        display: block;
        margin-bottom: 20px;
    }

    .complete-button, .back-button {
        margin-top: 20px;
        display: block;
        margin-bottom: 10px;
    }

    .back-button {
        margin-top: 40px;
    }

    .question {
        margin-bottom: 20px;
    }

    .option {
        margin-left: 20px;
        display: block;
    }

    .quiz-questions {
        margin-bottom: 20px;
    }
</style>

{% block content %}
    <h1 class="quiz-info"><strong>{{ quiz.quizName }}</strong></h1>

    <br>

    <img src="{{ quiz.imageUrl }}" alt="{{ quiz.quizName }} Image"
         style="width: auto; height: 300px;" class="quiz-info quiz-image">

    <br>

    <p class="quiz-info">{{ quiz.quizDescription }}</p>

    <br>

    <div class="quiz-questions">
        <form action="{{ url_for('users.complete_quiz', quizID=quiz.quizID) }}" method="post">
            {% for question in questions %}
                <div class="question">
                    <p><strong>{{ question.questionText }}</strong></p>
                    {% for option in question.otherOptions + [question.correctAnswer] %}
                        <div class="option">
                            <input type="radio" name="question_{{ question.questionID }}" value="{{ option }}">
                            {{ option }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if not completed %}
                <br>
                <button type="submit" class="complete-button">Complete</button>
            {% else %}
                <br>
                <button disabled class="complete-button">Completed</button>
            {% endif %}
        </form>
    </div>


    <a href="{{ url_for('users.knowledgeBase') }}" class="button back-button">Back</a>
{% endblock %}
