{% extends "base.html" %}

<style>
    .quiz-info {
        margin-bottom: 20px;
    }

    .complete-button, .back-button {
        margin-top: 20px;
        display: block;
        margin-bottom: 10px;
    }

    .back-button {
        margin-top: 40px;
    }

    .question {
        margin-bottom: 20px;
    }

    .option {
        margin-left: 20px;
        display: inline-block;
    }

</style>

<!-- styling might work here? -->

{% block content %}
    <h1 class="quiz-info">{{ quiz.quizName }}</h1>
    <img src="#" alt="{{ quiz.quizName }} Image" class="quiz-info quiz-image">
    <p class="quiz-info">{{ quiz.quizDescription }}</p>
    <p class="quiz-info">{{ quiz.recipe }}</p>

    <div class="quiz-questions">
        <form action="{{ url_for('users.complete_quiz', quizID=quiz.quizID) }}" method="post">
            {% for question in questions %}
                <div class="question">
                    <p>{{ question.questionText }}</p>
                    {% for option in question.otherOptions + [question.correctAnswer] %}
                        <div class="option">
                            <input type="radio" name="question_{{ question.questionID }}" value="{{ option }}">
                            {{ option }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            {% if not completed %}
                <button type="submit" class="complete-button">Complete</button>
            {% else %}
                <button disabled class="complete-button">Completed</button>
            {% endif %}
        </form>
    </div>

    <a href="{{ url_for('users.knowledgeBase') }}" class="button back-button">Back</a>
{% endblock %}